body {
	margin: 0;
	/*background: radial-gradient(#ffffff,#dce7ef,#95b8cf); ,#8EB2CC);*/
	overflow: hidden;
	cursor: default;
}

canvas {
	width: 100vw;
	height: 100vh;
}

#airspeed {
	position: absolute;
	right: 0;
	bottom: 0;
	font-family: -apple-system-font, sans-serif, monospace;
}