body {
	--accentColor: rgb(0, 122, 255);
	--highlightColor: rgba(0, 122, 255, 0.3);
	--dockSize: 83px;
	--toolbarItemColor: rgba(0, 0, 0, 0.1);
	--toolbarDisabledTextColor: rgba(0, 0, 0, 0.1);
	--toolbarTextColor: rgba(0, 0, 0, 0.5);
	--toolbarItemPressedColor: rgba(0, 0, 0, 0.2);
	--titlebarColor: #f8f8f8;

	--borderColor: rgba(0, 0, 0, 0.2);
	--dockAccessoryColor: rgba(0, 0, 0, 0.5);

	--defaultCursor: /*url("cursors/Arrow.tiff"),*/default;
}

@font-face {
	font-family: "AppleSystemFontSemibold";
	src: url("../fonts/woff2/sf-pro-text_semibold.woff2") format('woff2'), url("../fonts/ttf/sf-pro-text_semibold.ttf") format('truetype');
}
@font-face {
	font-family: "AppleSystemFontRegular";
	src: url("../fonts/woff2/sf-pro-text_regular.woff2") format('woff2'), url("../fonts/ttf/sf-pro-text_regular.ttf") format('truetype');
}

*:focus {
	outline: none;
}
* {
	cursor: var(--defaultCursor);
}

/* Desktop */

html {
	width: 100%;
	height: 100%;
	background: black;
}
body {
	background: black;
	font-family: "AppleSystemFontRegular", -apple-system-font, -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
	margin: 0;
	font-size: 14px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	line-height: 1.4;
}
body[onclick] {
	background: url("../boot/powerOn.svg") no-repeat center center fixed, black;
	cursor: pointer;
}

.desktop {
	background: url("../images/desktopPictures/BigSurLight.png") no-repeat center center fixed, black;
	background-size: cover;
	cursor: var(--defaultCursor);
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: background-color 1s ease;
}
.desktop:before {
	display: block;
	position: absolute;
	content: "";
	width: 100vw;
	height: 100vh;
	background: url("../images/desktopPictures/BigSurDark.png") no-repeat center center fixed, black;
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease, visibility 1s ease;
}
.f7-icons {
	font-size: 17.5px !important;
}

/* Menu Bar */

#menubar {
	font-family: "AppleSystemFontSemibold", -apple-system-font, -apple-system, BlinkMacSystemFont, "Helvetica", sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px;
	font-size: 13.25px;
	overflow: auto;
	backdrop-filter: blur(96px) saturate(125%) brightness(80%);
	-webkit-backdrop-filter: blur(500px) saturate(125%) brightness(80%);
	background-color: rgba(0, 0, 0, 0.00000000002);
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.menu {
	float: left;
	margin: 0 -5px;
	padding: 4px 15px;
	border-radius: 5px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	cursor: var(--defaultCursor);
	color: inherit;
	text-decoration: none;
	height: 24px;
	box-sizing: border-box;
}
.menu:active {
	background-color: rgba(255, 255, 255, 0.25);
}
#menubar > .menu:nth-child(2) {
	font-weight: bold;
}
.menu.f7-icons {
	padding-top: 2.5px;
	paddint-bottom: 3.5px;
}

#statusbar {
	float: right;
}
#statusbar .menu span {
	font: inherit;
	line-height: inherit;
}



/* Windows */
.window {
	background-color: white;
	border-radius: 11px;
	box-shadow: 0 0 0 1px var(--borderColor), 0 15px 40px 1px rgba(0, 0, 0, 0.425);
	position: absolute;
	transition: background-color 1s ease;
}
.window:before {
	content:'';
	display:block;
	box-shadow:inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	pointer-events: none;
	border-radius: inherit;
}​

.titlebarThick {
	width: 100%;
	font-size: 12px;
	border--top-left-radius: inherit;
	border--top-right-radius: inherit;
	height: 38px;
	background-color: var(--titlebarColor);
	border-bottom: 1px solid #d7d8d7;
	transition: all 0.5s ease;
}
.titlebarThick:not(.titled) .windowControls {
	margin: 9px;
}

.titlebarThick.tabbed {
	height: 54px;
}
.titlebarThick.tabbed .windowControls {
	margin: 17px;
}
.titlebarThick.tabbed .toolbar {
	box-sizing: border-box;
	height: 54px;
	padding-left: 94px;
}


/* Window Controls */
.windowControls {
	position: absolute;
	display: flex;
	margin: 4px;
}

.closeButton, .minimizeButton, .fullscreenButton {
	box-sizing: border-box;
	border-radius: 12px;
	width: 12px;
	height: 12px;
	margin: 4px;
	padding: 0;
	transition: border-color 1s ease;
}

.closeButton {
	border: solid 1px #df4845;
	background: url('../images/close.svg') no-repeat center center, #fc605c;
	background-size: 0 0;
}
.minimizeButton {
	border: solid 1px #dea034;
	background: url('../images/minimize.svg') no-repeat center center, #fdbc40;
	background-size: 0 0;
}
.fullscreenButton {
	border: solid 1px #28ab35;
	background: url('../images/fullscreen.svg') no-repeat center center, #34c749;
	background-size: 0 0;
}
.closeButton img, .minimizeButton img, .fullscreenButton img {
	display: none;
	width: 12px;
	transform: translate(-1px, -1px);
}
.windowControls:hover .closeButton, .windowControls:hover .minimizeButton, .windowControls:hover .fullscreenButton {
	display: block;
	background-size: 12px;
}
.closeButton:active, .minimizeButton:active, .fullscreenButton:active {
	filter: brightness(75%);
}

.windowTopRightResizeHandle, .windowTopLeftResizeHandle, .windowBottomRightResizeHandle, .windowBottomLeftResizeHandle, .windowTopResizeHandle, .windowBottomResizeHandle, .windowLeftResizeHandle, .windowRightResizeHandle {
	/*-webkit-backdrop-filter: invert();
	backdrop-filter: invert();*/
	box-sizing: border-box;
}
.windowTopRightResizeHandle, .windowTopLeftResizeHandle, .windowBottomRightResizeHandle, .windowBottomLeftResizeHandle {
	width: 16px;
	height: 16px;
}

.windowTopRightResizeHandle {
	position: absolute;
	top: -6px;
	right: -6px;
	cursor: nesw-resize;
}
.windowTopLeftResizeHandle {
	position: absolute;
	top: -6px;
	left: -6px;
	cursor: nwse-resize;
}
.windowBottomRightResizeHandle {
	position: absolute;
	bottom: -6px;
	right: -6px;
	cursor: nwse-resize;
}
.windowBottomLeftResizeHandle {
	position: absolute;
	bottom: -6px;
	left: -6px;
	cursor: nesw-resize;
}
.windowTopResizeHandle {
	position: absolute;
	top: -4px;
	right: 10px;
	width: calc(100% - 20px);
	height: 8px;
	cursor: ns-resize;
}
.windowBottomResizeHandle {
	position: absolute;
	bottom: -4px;
	right: 10px;
	width: calc(100% - 20px);
	height: 8px;
	cursor: ns-resize;
}
.windowLeftResizeHandle {
	position: absolute;
	top: 10px;
	left: -4px;
	width: 8px;
	height: calc(100% - 20px);
	cursor: ew-resize;
}
.windowRightResizeHandle {
	position: absolute;
	top: 10px;
	right: -4px;
	width: 8px;
	height: calc(100% - 20px);
	cursor: ew-resize;
}
.contentView {
	border-bottom-right-radius: inherit;
	border-bottom-left-radius: inherit;
}





/* Toolbar */
.toolbar {
	width: 100%;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	box-sizing: border-box;
}
.toolbarbutton {
	padding: 6px;
	margin-right: 8px;
	border-radius: 6px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	cursor: var(--defaultCursor);
	color: var(--toolbarTextColor);
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.toolbarbutton:hover {
	background-color: var(--toolbarItemColor);
}
.toolbarbutton:active {
	background-color: var(--toolbarItemPressedColor);
}
.toolbarbutton.adjl {
	margin-right: 0;
	padding-left: 6px;
	padding-right: 9px;
}
.toolbarbutton.adjr {
	margin-left: 0;
	padding-left: 9px;
	padding-right: 6px;
}
.toolbarspace {
	margin: auto;
}


#smartsearch {
	text-align: center;
	cursor: var(--defaultCursor);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#smartsearch:focus {
	text-align: left;
	cursor: text;
	-webkit-touch-callout: initial;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}

/* TODO: globalize input CSS */
input[type="text"] {
	font-size: 12px;
	background-color: var(--toolbarItemColor);
	border: none;
	border-radius: 6px;
	margin-right: 8px;
	padding: 6px;
}
input {
	box-shadow: 0 0 8px 8px transparent;
	transition: all 0.25s ease;
	box-sizing: border-box;
}
input:focus {
	box-shadow: 0 0 0 4px var(--highlightColor);
}




.tooltip {
	position: relative;
}

.tooltip .tooltiptext {
	display: none;
	background-color: rgba(255, 255, 255, 0.675);
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
	border-radius: 6px;
	padding: 4px 14px;
	position: absolute;
	font-size: 14px;
	z-index: 1;
	bottom: 148px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
	transition: color 1s ease, background-color 1s ease;
}

.tooltip .tooltiptext:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.675) transparent transparent transparent;
	transition: border-top-color 1s ease;
}

.tooltip:hover .tooltiptext {
	display: block;
}



@keyframes dockJump {
  0%   {transform: translateY(0);}
  100%  {transform: translateY(-25px);}
}
@keyframes reverseDockJump {
  0%   {transform: translateY(0);}
  100%  {transform: translateY(25px);}
}


.titlebar {
	width: 100%;
	font-size: 14px;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	height: 27px;
	background-color: var(--titlebarColor);
	border-bottom: 1px solid var(--borderColor);
	transition: all 0.5s ease;
	z-index: 1;
}

.windowTitle {
	transition: color 1s ease;
	display: block;
	line-height: 27px;
	height: 27px;
	text-align: center;
	font-weight: bold;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}




#dock {
	position: absolute;
	left: 50%;
	bottom: -50%;
	transform: translateX(-50%);
	padding: 5px;
	border-radius: calc(var(--dockSize) / 3);
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(50px) saturate(125%) brightness(120%);
	-webkit-backdrop-filter: blur(50px) saturate(125%) brightness(120%);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0 1px var(--borderColor), 0 0 27px 9px rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transition: width 1s ease, background-color 1s ease, box-shadow 1s ease, bottom 1s ease;
	width: auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: calc(var(--dockSize) + 6px) !important;
	z-index: 9999999 !important;
}
#dockseparator {
	box-sizing: border-box;
	background-color: var(--dockAccessoryColor);
	border-radius: 100px;
	width: 1px;
	height: calc(var(--dockSize) * 0.8);
	margin: auto 10px auto 10px;
	cursor: ns-resize;
	transition: background-color 1s ease;
}
#apps {
	height: var(--dockSize) !important;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#files {
	height: var(--dockSize) !important;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.docktile {
	display: flex;
	align-items: flex-end;
	max-height: 100%;
	width: var(--dockSize);
	margin-bottom: 5px;
}
.docktile.launching {
	animation: dockJump 0.4s alternate cubic-bezier(0.2, 0.5, 0.5, 1) infinite;
}
.docktile img {
	display: block;
	min-width: var(--dockSize);
	width: 100%;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}
.docktile.running:after {
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	background-color: var(--dockAccessoryColor);
	position: absolute;
	bottom: -8px;
	left: calc(50% - 2px);
	border-radius: 50%;
	transition: background-color 1s ease;
}
.docktile.launching.running:after {
	animation: reverseDockJump 0.4s alternate cubic-bezier(0.2, 0.5, 0.5, 1) infinite;
}
.docktile img:active {
	filter: brightness(50%);
}


/* Boot Screen */
#bootScreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 999999999 !important;
	background: black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: none !important;
}
#bootScreen img {
	width: 75px;
	margin-top: 106px;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
	cursor: none !important;
}
#bootScreen progress {
	-webkit-appearance: none;
	height: 6px;
	width: 232px;
	margin-top: 100px;
	visibility: hidden;
	cursor: none !important;
}
#bootScreen progress::-webkit-progress-bar {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.1);
	border-radius: 100px;
	cursor: none !important;
}
#bootScreen progress::-webkit-progress-value {
	background-color: white;
	border-radius: 100px;
	min-width: 6px;
	cursor: none !important;
}
#bootScreen progress.loaded::-webkit-progress-value {
	transition: width 1s ease-in;
}













/* Dark Mode */
body.dark {
	--accentColor: rgb(0, 122, 255);
	--highlightColor: rgba(0, 122, 255, 0.3);
	--dockSize: 83px;
	--toolbarItemColor: rgba(255, 255, 255, 0.1);
	--toolbarDisabledTextColor: rgba(255, 255, 255, 0.1);
	--toolbarTextColor: rgba(255, 255, 255, 0.5);
	--toolbarItemPressedColor: rgba(255, 255, 255, 0.2);
	--titlebarColor: #383838;

	--borderColor: black;
	--dockAccessoryColor: rgba(255, 255, 255, 0.5);

}
body.dark .desktop:before {
	opacity: 1;
	visibility: visible;
}
body.dark .window {
	background: black;
}
body.dark .windowTitle {
	color: white;
}
body.dark #dock {
	background-color: rgba(0, 0, 0, 0.4);
}
body.dark .tooltip .tooltiptext {
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.5);
}
body.dark .tooltip .tooltiptext:after {
	border-top-color: rgba(0, 0, 0, 0.5);
}
body.dark .closeButton, body.dark .minimizeButton, body.dark .fullscreenButton {
	border-color: transparent;
}