body {
	margin: 0;
	/*background: url("../Images/Background.png") no-repeat center center fixed; */
	background-color:transparent;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	cursor: default;
}

#cases {
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-size: 24px;
	color: red;
	font-weight: bold;
	padding: 8px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	font-family: -apple-system-font, sans-serif, monospace;
}